.dark-mode__toggle {
  background: white;
  border-radius: 50px;
  border: 3px solid black;
  height: 24px;
  position: relative;
  width: 40px;
}

.toggle {
  background: rgb(216, 8, 42);
  border-radius: 50px;
  height: 18px;
  left: 0;
  position: absolute;
  transition: 0.2s;
  width: 20px;
}

.toggled {
  left: 15px;
}

.headerContainer {
     background: #018A2D;
     display: flex;
     flex-direction: column;
}


.dark-mode {
  color: #fff;
  background-color: #313843;
}